* {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  position: sticky;
  border-bottom: #040444 1px solid;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s ease-in-out;
}
header.scrolled {
  background-color: #040444bb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease-in-out;
}
header.scrolled a {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
header.scrolled .dropdown-icon {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

header.scrolled .dropdown {
  background-color: #040444;
  transition: color 0.3s ease-in-out;
}
header.scrolled .navbar a {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
header.scrolled label {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.logo {
  font-size: 30px;
  margin: 4px 0 6px 24px;
  width: 85px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header.scrolled .logo {
  content: url("logo-eims-white.png");
  width: 80px;
}
.navbar li {
  font-weight: 600;
  list-style: none;
  display: inline;
  margin: 24px;
  position: relative;
}
.navbar li a,
.first,
.second,
.third {
  font-size: 18px;
  color: #040444;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.navbar li a:hover,
.first:hover,
.second:hover,
.third:hover {
  color: #1a7566;
  transition: 0.3s ease-in-out;
}
input[type="checkbox"] {
  visibility: hidden;
}

.dropdown {
  position: absolute;
  left: -8%;
  width: fit-content;
  height: fit-content;
  background: #b7f1f0;
  flex-direction: column;
  border-radius: 10px;
  display: none;
  margin: 1.5px;
  padding: 16px;
}
.dropdown li a {
  margin: 4px;
}

.navbar li:hover .dropdown {
  display: flex;
  gap: 4px;
}
.dropdown li {
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  list-style: none;
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 8px;
}
.toggle-collapse {
  width: 45px;
  height: 32px;
  margin: 0.4em 0.7em;
  background: transparent;
  color: #040444;
  border: 1px solid #040444;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.75)),
    url(background.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 20px;
}
.text-box p {
  font-size: 20px;
  margin-bottom: 20px;
}
.text-box a {
  display: inline-block;
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid #fff;
  margin: 10px;
  transition: 0.5s ease-in-out;
  color: #fff;
}
.text-box a:hover {
  background: #3ec1ac;
  border: 1px solid #3ec1ac;
  color: #040444;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 0;
}
.cards-title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 20px;
}

.cards-par {
  text-align: center;
  margin: auto;
  padding: auto;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px auto;
  padding: 50px 0;
  gap: calc(100% / 30);
}

.card {
  flex-basis: 20%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #fff;
}
.card:hover {
  border: #040444 2px solid;
  background-color: #3ec1ac;
  color: #040444;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  scale: 1.1;
}
.container {
  padding: 2px 16px;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 0 10px;
  margin: 10px 0;
}
.card p {
  font-size: 15px;
  text-align: center;
  margin: 10px 3px;
}

.campus-text {
  text-align: center;
  margin: 50px 0;
  padding: auto;
}
.campus-text h1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 20px;
}
.campus-text p {
  font-size: 20px;
  margin-bottom: 20px;
}
.campus {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 50px 40px;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
.campus-img {
  flex-basis: 30%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  background-color: rgba(62, 193, 171, 0.575);
  position: relative;
}
.campus-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.campus-img img:hover {
  opacity: 0.175;
  border: 3px solid;
}
.campus-img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #040444;
  font-size: 200%;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
.campus-img:hover h3 {
  visibility: visible;
}

.slider-title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 20px;
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 24);
  animation: scroll 180s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 24));
  }
}

footer {
  background-color: #040444;
  color: #fff;
  padding: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.logo-footer img {
  height: 100px;
  margin: 0;
}

.phone i,
.location i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.social-media-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media-icons li {
  margin-right: 30px;
}

.social-media-icons a {
  color: #fff;
  font-size: 30px;
}

.social-media-icons a:hover {
  color: rgb(107, 245, 222);
}

@media (max-width: 1200px) {
  .navbar li {
    transition: 0s;
  }
  .navbar li a,
  .first,
  .second,
  .third {
    font-size: 16px;
    transition: 0s;
  }
  .cards {
    gap: calc(5%);
  }
  .dropdown li {
    transition: 0s;
  }
}

@media (max-width: 1024px) {
  .banner {
    height: 80vh;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner p {
    font-size: 20px;
  }
  .banner .btn {
    font-size: 20px;
    padding: 10px 20px;
  }
  .dropdown {
    display: flex;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-collapse {
    display: flex;
    position: absolute;
    top: 100%;
    height: 200vh;
    width: 100%;
    background: #b7f1f0;
    visibility: hidden;
  }
  header.scrolled .navbar-collapse {
    background-color: #040444;
    transition: color 0.3s ease-in-out;
  }

  .navbar a {
    display: inline-block;
    margin: 8px 0;
    padding: 0px 8px;
    transition: all 0s ease-in-out;
    color: #040444;
  }
  .navbar li:hover .dropdown li {
    display: flex;
  }
  .navbar li:hover .dropdown li a {
    font-size: 9.75px;
  }

  .toggle-collapse {
    display: inline-block;
    transition: 0.3s ease-in-out;
  }
  header.scrolled .toggle-collapse {
    color: #fff;
    border: #fff 1px solid;
  }
  .collapse {
    visibility: visible;
  }
  .dropdown-icon {
    margin-right: 0px;
  }
  .navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .dropdown {
    visibility: hidden;
    display: none;
  }
  [id^="btn"]:checked + .dropdown {
    display: flex;
    background-color: transparent;
    padding: 0;
    visibility: visible;
    position: static;
    flex-direction: column;
    align-items: center;
  }
  [id^="btn"]:checked + .navbar li {
    display: flex;
    justify-content: center;
  }

  .dropdown li {
    border-bottom: none;
  }
  .dropdown li a {
    font-size: smaller;
  }
  input {
    display: none;
  }
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    font-size: 15px;
  }
  .text-box a {
    display: inline-block;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    margin: 10px;
    transition: 0.5s ease-in-out;
    color: #fff;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
  }
  .cards-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2%;
  }
  .cards-par {
    font-size: 16px;
    margin: 0 10%;
  }
  .card {
    margin: 5% 0;
  }
  .campus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
  }
  .campus-text h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2%;
  }
  .campus-text p {
    font-size: 16px;
    margin: 0 10%;
  }
  .campus-img h3 {
    font-size: 80%;
  }
  .top-section {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  .logo-footer,
  .contact-info,
  .location,
  .phone {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .location {
    margin-top: 10px;
  }
}
